body {
    margin: 0;
    padding: 0;
}

 
header {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    padding: 16px;

}

.header-links {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    margin-left: auto;
    
}

.logo {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

header img {
    width: 80px;
    padding: 16px;

}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px; 
  background-color: #1f2937;  
  padding: 32px;
}

.awesome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.writer-block {
    height: auto;
    width: 600px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    padding: 12px;
    border-radius: 10%;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    text-decoration: none;
    border: none;
}

button:hover {
    background-color: #2980b9
}

button:focus {
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.5);
}

.images-text img {
    width: 200px;
    height: 200px;
    border-radius: 25%;
}

.midcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    background-color: #f9faf8;
  

}

.midcontent p {
    color: #1f2937;
}

.images-text {
    display: flex;
    justify-content: center;

}

.iat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
    margin: 16px;
    padding: 12px;

}

.iat p {
    text-align: center;
    padding: 10px;
    width: 200px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.quote p {
    color: #1f2937;
    font-size: 36px;
    text-align: center;
}

.author {
    display: flex;
    align-self: flex-end;
}